body{
    min-height: 100vh;
    margin:0;

    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: 'Roboto',sans-serif;
    font-size: 32px;
}

#content{
    align-self: center;

    margin-top: auto;
    margin-bottom: auto;
}

#content > div{
    border: 1px solid black;
}

.grid-container{
    display: grid; 
    grid-template-columns: auto auto auto auto; 
    justify-content: center;
    align-content: center;
    gap:10px;
    
    box-sizing: border-box;
    height: fit-content;
    width: fit-content;
    padding: 20px; 
    border:1px solid black;

    background-color: black;
    
}

.grid-item{
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 50px;
    font-size: 64px;
    text-align: center;
}

#largeDisplay{
    grid-column-start: 1;
    grid-column-end: 5;

    width:auto;
    height:50px;

    color: white;
}

#num0{
    grid-column-start: 1;
    grid-column-end: 3;

    width: auto;

    display: flex;
    align-items: center;
}

.button{
    height:64px;
    width:64px;

    border:1px solid black;
    border-radius: 64px;
}

.numButton{
    background-color: #333333;
    color: white;
}

.operatorButton{
    background-color: #fd9500;
    color: white;
}

.otherButton{
    background-color: #a6a6a6;
    color: black;
}


#footer{
    height:50px;
    margin-top: auto;
}

/*Misc.*/
.test{
    border: 1px solid black;
}

.centered{
    display: flex;
    justify-content: center;
    align-items: center;
}
